.fighter-preview___root {
    display: flex;
    flex-direction: column;
    flex-basis: 250px;
}

.fighter-preview___right {
    align-items: flex-end;
}

.fighter-preview___left {
    align-items: flex-start;
}

.fighter-preview___info-el {
    color: #000;
    font-size: 20px;
    font-weight: normal;
    line-height: 20px;
    text-transform: uppercase;
    background-color: #900;
}

.fighter-preview___img {
    flex: 250px;
    height: 295px;
}